body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: flex-start;
    object-fit: contain;
    width: 30px;
    height: 30px;
    justify-content: left; 
    margin-right: 4px;  
}


.bghero {
    background-image: url(https://img.freepik.com/free-photo/coffee-beans-top-view-white-background-space-text_176474-5028.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
